@page
@model ApplicationMessage.Views.Shared.ErrorModel

<h1 name="mes">Pederas Detected</h1>
<img name="sign" id="ex" src="https://pngimg.com/d/exclamation_mark_PNG13.png" />

@section Scripts{
    <script>
        const sign = document.getElementById('ex');

        function signAnim(){
            if(sign.style.visibility === 'hidden')
                sign.style.visibility = 'visible';
            else
                sign.style.visibility = 'hidden';
        }

        setInterval(signAnim,1000);
    </script>
}